/* Coolors Exported Palette - coolors.co/93a3b1-343a40-5dd39e-348aa7-525174 */

/* HSL */
$color1: hsla(208%, 16%, 64%, 1);
$color2: hsla(210%, 10%, 23%, 1);
$color3: hsla(153%, 57%, 60%, 1);
$color4: hsla(195%, 53%, 43%, 1);
$color5: hsla(242%, 18%, 39%, 1);

/* RGB */
$color1: rgba(147, 163, 177, 1);
$color2: rgba(52, 58, 64, 1);
$color3: rgba(93, 211, 158, 1);
$color4: rgba(52, 138, 167, 1);
$color5: rgba(82, 81, 116, 1);